/* Setting font */
body
{
Font-family: "Verdana", 
"Roboto", sans-serif;
}

/* Setting for hyperlinks. */
header > a
{
    border-radius: 1em;
    background-color: white;
    text-decoration: none;
}
header > a:hover
{
    background-color: #ffaaaa;
}

#TSV_Logo
{
    width: 3em;
    height: 3em;
}

/* Header settings*/
header
{
    background-color: #000000;
}
header > h1
{
    color: white;
    text-align: center;
}
header > p
{
    color: white;
}

/* Navigation area */
nav
{
    margin: 1em;
    width: 70%;   
}

nav > ul
{   
    position: relative;
    padding: 0em;
}
nav > ul > li   
{
    width: 30%;
    display: block;
    float: left;
    
    text-align: left;
    /*text-indent: 1em;*/

    /*width: 14em;
    height: 3em;*/
    
    margin: 0 1em 1em 0;

    padding: 0px;
}

.right_aside_container
{
    position: relative;
    width: 300px;
    /*padding-left: 15px;
    margin-left: 15px;*/
    float: right;
    
    background-color: black;
    color: white;
    
    /*position: absolute;*/
    right: 2em;
    top:0em;
    height: 100%;

    margin: 0 0 0 1em;
}

.fb-page{
    position: absolute;
    width: 100%;
    height: 100%;
    
}

/* Footer area */
footer  
{
    border-style: solid;
    border-radius: 1em;
    
    background-color: lightslategrey;
    
    text-align: center;

    height: auto;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin: 1em;
}

footer > p
{
    margin-left: 1em;
    margin-right: 1em;  
}

#Schriftzug{
    width: 25em;
    height: 25em;
    margin: 10em;
    -webkit-animation: schriftzug 5s infinite ; -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); 
    animation: schriftzug 5s infinite ; animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); 
}

@-webkit-keyframes schriftzug {
    0%{content: url(Schriftzug/Andreas1.png);}
    7%{content: url(Schriftzug/Andreas2.png);}
    13%{content: url(Schriftzug/Andreas3.png);}
    20%{content: url(Schriftzug/Andreas4.png);}
    27%{content: url(Schriftzug/Andreas5.png);}
    33%{content: url(Schriftzug/Andreas6.png);}
    40%{content: url(Schriftzug/Andreas7.png);}
    47%{content: url(Schriftzug/Andreas8.png);}
    53%{content: url(Schriftzug/Andreas9.png);}
    60%{content: url(Schriftzug/Andreas10.png);}
    67%{content: url(Schriftzug/Andreas11.png);}
    73%{content: url(Schriftzug/Andreas12.png);}
    80%{content: url(Schriftzug/Andreas13.png);}
    87%{content: url(Schriftzug/Andreas14.png);}
    93%{content: url(Schriftzug/Andreas15.png);}
    /*100%{content: url(Schriftzug/Andreas1.png);}*/
}
@keyframes schriftzug {
    0%{content: url(Schriftzug/Andreas1.png);}
    7%{content: url(Schriftzug/Andreas2.png);}
    13%{content: url(Schriftzug/Andreas3.png);}
    20%{content: url(Schriftzug/Andreas4.png);}
    27%{content: url(Schriftzug/Andreas5.png);}
    33%{content: url(Schriftzug/Andreas6.png);}
    40%{content: url(Schriftzug/Andreas7.png);}
    47%{content: url(Schriftzug/Andreas8.png);}
    53%{content: url(Schriftzug/Andreas9.png);}
    60%{content: url(Schriftzug/Andreas10.png);}
    67%{content: url(Schriftzug/Andreas11.png);}
    73%{content: url(Schriftzug/Andreas12.png);}
    80%{content: url(Schriftzug/Andreas13.png);}
    87%{content: url(Schriftzug/Andreas14.png);}
    93%{content: url(Schriftzug/Andreas15.png);}
    /*100%{content: url(Schriftzug/Andreas1.png);}*/
}
